// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &__logo {
    padding: 20px;
  }

  &__nav ul {
    display: flex;
    gap: 40px;
    padding: 10px;
    margin-right: 100px;

    li {
      list-style: none;
    }
  }

  &__nav a {
    text-decoration: none;
    color: $grey;

    &:hover {
      color: white;
    }
  }

  &__nav li:hover {
    color: white;
    border-bottom: 4px solid $pinkiwinki;
    border-radius: 10%;
    transition: all 0.3s ease;
  }
}
