// HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;

  &__nav ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
    }
  }

  &__nav li a {
    font-size: 1rem;
    font-weight: 500;
    color: $grey;

    &:hover {
      color: $pinkiwinki;
      border-bottom: 2px solid $pinkiwinki;
    }
  }
}
