.hero {
  text-align: left;
  padding: 4rem 1rem;

  &__content h1 {
    font-size: clamp(2rem, 3vw, 4rem);
    margin-bottom: 1rem;
    max-width: 600px;
    color: white;
    font-family: $title-font;
  }

  &__content p {
    font-size: clamp(1rem, 5.5vw, 1.3rem);
    max-width: 600px;
    margin-bottom: 2rem;
    color: $grey;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    @include respond-to(tablet) {
      flex-direction: row;
      justify-content: center;
    }

    &__btn1,
    &__btn2 {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border-radius: 8px;
    }
  }
}
