@import "./_variables";
@import "./_reset";
@import "./_mixins";
@import "./_vendors";

@import "./_layout";
@import "./_header";
@import "./_hero";
@import "./_buttons";
@import "./_items";

body {
  background-color: #181d22;
  background-image: url("../img/gente.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;

  @include respond-to(tablet) {
    background-size: 0%;
  }

  @include respond-to(desktop) {
    background-size: 820px 780px;
  }
}
